# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.metadata

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/src/main/assets/flutter_assets

# Android specific
/android/.gradle
/android/local.properties
/android/*.iml
/android/key.properties

# iOS specific
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# macOS specific
/macos/Flutter/ephemeral
/macos/Runner/GeneratedPluginRegistrant.*

# Windows specific
/windows/flutter/ephemeral
/windows/flutter/generated_plugin_registrant.cc
/windows/flutter/generated_plugin_registrant.h
/windows/runner/resources/

# Linux specific
/linux/flutter/ephemeral
/linux/flutter/generated_plugin_registrant.cc
/linux/flutter/generated_plugin_registrant.h

# Env files
.env
.env.*
! .env.example

# Supabase
supabase/functions/**/.env
supabase/.temp
supabase/.branches
